body {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    background-image: url("bkgdImg.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
    font-size: 160px;
    margin-bottom: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}


#board {
    width: 400px;
    height: 400px;

    background-color: #d9b9ec;
    border: 6px solid #ffffff;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.tile {
    width: 90px;
    height: 90px;
    border: 5px solid #ffffff;

    font-size: 40px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* colored tiles */

.x2 {
    background-color: #eee4da;
    color: #727371;
}

.x4 {
    background-color: #ece0ca;
    color: #727371;
}

.x8 {
    background-color: #5a80d3;
    color: white;
}

.x16{
    background-color: #75f5d9;
    color: white
}

.x32{
    background-color: #1fc2d8;
    color: white;
}

.x64{
    background-color: #4e3bf6;
    color: white;

}

.x128{
    background-color: #ceadff;
    color: white;
}

.x256{
    background-color: #8c63ed;
    color: white;
}

.x512{
    background-color: #b179be;
    color: white;
}

.x1024{
    background-color: #fa9aed;
    color: white;
    box-shadow: 0 0 10px rgba(255,255,255,1),
            0 0 20px rgba(255,255,255,0.8),
            0 0 30px 15px rgba(255,255,255,0.5);
    
}

.x2048{
    background-color: #D7316E;
    color: white;
    box-shadow: 0 0 15px 15px #ffff;
}
